.education-container {
    margin-left: 100px;
    margin-top: -50px; /* Moves the section slightly upwards */
    width: calc(100% - 200px);
    padding: 10px;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    text-align: left; /* Align text to the left */
  }
  
  .education-container h1 {
    color: rgba(219, 151, 194, 1);
  }
  
  .education-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    gap: 20px; /* Space between cards */
    padding: 0 20px; /* Optional padding */
  }
  
  .education-card {
    background: rgba(219, 151, 194, 0.1); /* Matching background color */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .education-card h2 {
    margin-top: 0;
    color: rgba(219, 151, 194, 1); /* Highlighted title color */
  }
  
  .education-card p {
    font-size: 1rem;
    line-height: 1.0;
    margin: 10px 0;
  }
  